---
- name: Provision Azure App Service for .NET container
  hosts: localhost
  connection: local
  tasks:
    - name: Create resource group
      azure_rm_resourcegroup:
        name: rg-mobead
        location: eastus

    - name: Create App Service Plan
      azure_rm_appserviceplan:
        resource_group: rg-mobead
        name: asp-mobead
        location: eastus
        sku: P1V2
        is_linux: false

    - name: Create Windows App Service
      azure_rm_webapp:
        resource_group: rg-mobead
        name: app-mobead-nome
        plan: asp-mobead
        app_settings:
          WEBSITES_ENABLE_APP_SERVICE_STORAGE: false
        frameworks:
          - name: "default"
            version: ""
        container_settings:
          name: shorlyz/unyleya_projeto_cicd_sharles_sa/:latest
          registry_url: https://index.docker.io
